/* setting background image */
html {
  background: url(mthood.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* body styling */
body {
  margin: 10px;
  padding: 0;
  border: 0;
}
/* header styling */
header {
    font-family: 'Titillium Web', sans-serif;
    font-size: 32px;
    text-align: center;
    background-color: yellow;
    padding: 2px;
    border: 1.5px solid black;
}

/* Search area and search history styling */
#theContent {
    font-family: 'Irish Grover', cursive;
    margin-right: 15px;
    padding: 5px;
    font-size: 20px;
    font-weight: bolder;
}

#searchHistory {
    font-family: 'Irish Grover', cursive;
}

/* Current weather element styling */
#currentWeather {
    margin-left: 100px;
    font-family: 'Irish Grover', cursive;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1.5px solid black;
    /* padding: 10px; */
    width: 79%;
    border-radius: 10px;
}

/* setting weather image width/height */
img {
    width: 100px;
    height: 100px;
}

/* top ribbon styling */
.topRibbon {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* extended forecast styling */
#extendedForecast {
    display: none;
    font-weight: bold;
    font-family: 'Irish Grover', cursive;
}

/* extended forecast cards styling */
#extendedForecastCard1,#extendedForecastCard2,#extendedForecastCard3,#extendedForecastCard4,#extendedForecastCard5 {
    font-family: 'Irish Grover', cursive;
    flex-direction: row;
    flex-wrap: wrap;    
    border-style: solid;
    border-width: 1.5px;
    padding: 10px;
    float: left;
    width: 18%;
    border-radius: 10px;
}

/* styling for mouse hover on search history cities */
.searchedCities:hover {
    color: white;
}

/* media screen selectors to make sure display is good on different screen sizes */
@media screen and (max-width: 1000px) {
    #extendedForecastCard1,#extendedForecastCard2,#extendedForecastCard3,#extendedForecastCard4,#extendedForecastCard5 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 33%;
    }
}

@media screen and (max-width: 600px) {
    #currentWeather {
        font-size: 12px;
        margin-left: 0px;
    }
}



